GOOGLE_CLOUD_PROJECT=circular-symbol-484517-g2
GOOGLE_CLOUD_LOCATION=us-central1
PORT=8080
FRONTEND_ORIGIN=http://localhost:5173,http://localhost:5183
MAX_UPLOAD_MB=10
VERTEX_IMAGE_MODEL=imagen-4.0-ultra-generate-001
VERTEX_IMAGE_EDIT_MODEL=gemini-3-pro-image-preview
VERTEX_SAMPLE_IMAGE_SIZE=2K
