.agents/skills/connect-recommend/** text eol=lf -whitespace
.agents/skills/stripe-apps/** text eol=lf -whitespace
.agents/skills/stripe-best-practices/** text eol=lf -whitespace
.agents/skills/stripe-directory/** text eol=lf -whitespace
.agents/skills/stripe-docs/** text eol=lf -whitespace
.agents/skills/stripe-projects/** text eol=lf -whitespace
.agents/skills/upgrade-stripe/** text eol=lf -whitespace
